body{
    background-color: black;
    text-align: center;
    font-family: verdana, arial, helvetica, sans-serif;
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-size: 50 px;
    color: white;
    text-align: center;
}

a {
    color: aquamarine;
    text-align: center;
}

h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    font-size: 42px;
}

.paragraph-text{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 21px;
    color: grey;
}

#camp{
    border-radius: 50%;
}

 footer {
    text-align: right;
    color: grey;
 }